.btn {
  transition: $btn-transition;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  &.btn-primary {
    background-color: #00c6bc;
    border-color: #00c6bc;

    &:hover {
      background-color: darken(#00c6bc, 10%);
      border-color: darken(#00c6bc, 10%);
    }
  }
}
